Repository softboiler/boilerdata: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-pyrightconfig, synchronize-params, pytest-fast-only, fawltydeps

local-pyrightconfig:
  name: local-pyrightconfig
  language: system
  entry: pwsh -Command python .tools/scripts/local_pyrightconfig.py

synchronize-params:
  name: synchronize-params
  language: system
  entry: pwsh -Command python -m boilerdata.models.params

pytest-fast-only:
  name: pytest-fast-only
  verbose: true
  pass_filenames: false
  language: system
  entry: 'pwsh -Command "pytest -m ''not slow'' --suppress-no-test-exit-code"
  
    '

fawltydeps:
  name: fawltydeps
  verbose: true
  pass_filenames: false
  language: system
  entry: pwsh -Command fawltydeps

Sync with template
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/high.yml
  .gitignore
  .gitmodules
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/tasks.json
  pyproject.toml
  scripts/Initialize-Machine.ps1
  scripts/Initialize-Repo.ps1
  scripts/Initialize-Shell.ps1
  scripts/Sync-Py.ps1
  scripts/boilerdata_tools/sync.py
Due: fawltydeps

Sync and lock
  lock.json
  requirements/requirements.txt
Due: none

Fix boilercore inventory
  docs/conf.py
  docs/index.md
Due: none

Add propshop script back
  .vscode/tasks.json
Due: none

Update model fit
  data/models/modelfun-3.11.dillpickle.dvc
  data/models/modelfun-3.12.dillpickle.dvc
  lock.json
  notebooks/compare_fits.ipynb
  requirements/requirements.txt
  src/boilerdata/models/params.py
Due: synchronize-params, fawltydeps

Sync with template
  .copier-answers.yml
  .github/workflows/changerelease.yml
  .github/workflows/ci.yml
  .github/workflows/contrib.yml
  .github/workflows/high.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  .renovaterc.json
  .vscode/extensions.json
  .vscode/tasks.json
  pyproject.toml
  scripts/Initialize-Repo.ps1
  scripts/Initialize-Shell.ps1
  scripts/Sync-Py.ps1
  scripts/Sync-Template.ps1
  scripts/boilerdata_tools/sync.py
  scripts/install.py
Due: fawltydeps

Path conditions:
  local-pyrightconfig: any of: (?x)^(
  pyproject.toml
  .tools/scripts/local_pyrightconfig.py
)$

  synchronize-params: any of: (?x)^(
  src/boilerdata/models/.*
  |params.yaml
)$

  pytest-fast-only: any of: (?x)^(
  pyproject\.toml
  src/.*
  |tests/.*
  |\.tools/requirements/.*
)$

  fawltydeps: any of: (?x)^(
  src/.*
  |pyproject\.toml
  |requirements\.txt
  |\.tools/requirements/.*
)$

