Repository softboiler/boilerdata: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-pyrightconfig, synchronize-params, pytest-fast-only, fawltydeps

.pre-commit-config.yaml:

ci:
  skip:
    # * ---------------------------------------------------------------------------- * #
    - "local-pyrightconfig"
    - "synchronize-params"
    - "dvc-post-checkout"
    - "dvc-pre-push"
    # * ---------------------------------------------------------------------------- * #
    - "core-update"
    - "pytest-fast-only"
    - "fawltydeps"
  autoupdate_schedule: "quarterly"

repos:
  - repo: "meta"
    hooks:
      # ? Enable this to ensure each hook runs against at least one file
      # - id: "check-hooks-apply"
      - id: "check-useless-excludes"
  - repo: "local"
    hooks:
      # * -------------------------------------------------------------------------- * #
      - id: "local-pyrightconfig"
        name: "local-pyrightconfig"
        language: "system"
        entry: "pwsh -Command python .tools/scripts/local_pyrightconfig.py"
        files: |
          (?x)^(
            pyproject.toml
            .tools/scripts/local_pyrightconfig.py
          )$
      - id: "synchronize-params"
        name: "synchronize-params"
        language: "system"
        entry: "pwsh -Command python -m boilerdata.models.params"
        files: |
          (?x)^(
            src/boilerdata/models/.*
            |params.yaml
          )$
      # * -------------------------------------------------------------------------- * #
      - id: "core-update"
        name: "core-update"
        stages: ["post-commit"]
        always_run: true
        verbose: true
        pass_filenames: false
        language: "system"
        entry: "pwsh -Command python .tools/scripts/core_update.py"
      - id: "pytest-fast-only"
        name: "pytest-fast-only"
        verbose: true
        pass_filenames: false
        language: "system"
        entry: |
          pwsh -Command "pytest -m 'not slow' --suppress-no-test-exit-code"
        files: |
          (?x)^(
            pyproject\.toml
            src/.*
            |tests/.*
            |\.tools/requirements/.*
          )$
      - id: "fawltydeps"
        name: "fawltydeps"
        verbose: true
        pass_filenames: false
        language: "system"
        entry: "pwsh -Command fawltydeps"
        files: |
          (?x)^(
            src/.*
            |pyproject\.toml
            |requirements\.txt
            |\.tools/requirements/.*
          )$
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: "v4.5.0"
    hooks:
      - id: "end-of-file-fixer"
      - id: "trailing-whitespace"
  # * ------------------------------------------------------------------------------ * #
  - repo: "https://github.com/iterative/dvc"
    rev: "3.45.0"
    hooks:
      - id: "dvc-post-checkout"
        additional_dependencies: ["dvc[gs]"]
      - id: "dvc-pre-push"
        additional_dependencies: ["dvc[gs]"]
  # * ------------------------------------------------------------------------------ * #

  - repo: "https://github.com/DavidAnson/markdownlint-cli2"
    rev: "v0.11.0"
    hooks:
      - id: "markdownlint-cli2-fix"
  - repo: "https://github.com/srstevenson/nb-clean"
    rev: "3.2.0"
    hooks:
      - id: "nb-clean"
        args:
          - "--remove-empty-cells"
          - "--preserve-notebook-metadata"
          - "--preserve-cell-metadata"
          - "tags"
          - "--"
        files: |
          (?x)^(
            src/.*
            |docs/.*
            |tests/.*
          )$
  - repo: "https://github.com/charliermarsh/ruff-pre-commit"
    rev: "v0.2.0"
    hooks:
      - id: "ruff"
        types_or: ["python", "pyi", "jupyter"]
      - id: "ruff-format"
        types_or: ["python", "pyi", "jupyter"]

Update template digest to 22b0caa9c1e55bebc6f369574a96dcfb32e607a4
  scripts/Initialize-Shell.ps1
  scripts/Sync-Template.ps1
Due: none

Sync dependencies
  lock.json
  pyproject.toml
  requirements/dev.in
  requirements/requirements.txt
Due: fawltydeps

Resolve dependency issues
  docs/pyproject.toml
  lock.json
  pyproject.toml
  requirements/requirements.txt
  src/boilerdata/models/params.py
  src/boilerdata/stages/__init__.py
  src/boilerdata/stages/originlab.py
  src/boilerdata/stages/pipeline.py
  src/boilerdata/stages/runs.py
  tests/boilerdata_tests/conftest.py
  tests/pyproject.toml
Due: synchronize-params, pytest-fast-only, fawltydeps

Fix tests
  .copier-answers.yml
  lock.json
  requirements/requirements.txt
  tests/boilerdata_tests/conftest.py
  tests/pyproject.toml
Due: pytest-fast-only

Delete renovate.json
  renovate.json
Due: none

Include `pandera` in `intersphinx`
  docs/conf.py
Due: none

Fix linter warnings
  .pre-commit-config.yaml
  docs/docs.py
  pyproject.toml
  src/boilerdata/__init__.py
  src/boilerdata/axes_enum.py
  src/boilerdata/models/axes.py
  src/boilerdata/models/params.py
  src/boilerdata/stages/axes.py
  src/boilerdata/stages/literature.py
  src/boilerdata/stages/originlab.py
  src/boilerdata/stages/parse_benchmarks.py
  src/boilerdata/stages/pipeline.py
  src/boilerdata/stages/runs.py
  src/boilerdata/validation.py
  tests/root/data/axes/axes_enum.py
Due: synchronize-params, pytest-fast-only, fawltydeps

Delete old scripts
  setup.ps1
  update.ps1
Due: none

Sync with template
  .copier-answers.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/issue_template.md
  .vscode/settings.json
  pyproject.toml
Due: fawltydeps

Fix project links
  .copier-answers.yml
  .github/DISCUSSION_TEMPLATE/general.yaml
  .github/DISCUSSION_TEMPLATE/ideas-for-docs.yaml
  .github/DISCUSSION_TEMPLATE/ideas-for-infrastructure.yaml
  .github/DISCUSSION_TEMPLATE/ideas.yaml
  .github/DISCUSSION_TEMPLATE/internal.yaml
  .github/DISCUSSION_TEMPLATE/q-a.yaml
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/internal.yaml
  .github/SECURITY.md
  .github/issue_template.md
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
  changelog/towncrier_template.md.jinja
  docs/contributing.md
  pyproject.toml
Due: fawltydeps

Point to new boilercore
  .gitmodules
  lock.json
  requirements/requirements.txt
Due: none

Require DVC
  lock.json
  requirements/dev.in
  requirements/requirements.txt
Due: none

Sync boilercore
  lock.json
Due: none

Sync with template
  .all-contributorsrc
  .copier-answers.yml
  .devcontainer/devcontainer.json
  .github/workflows/changerelease.yml
  .github/workflows/ci.yml
  .github/workflows/high.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  .python-versions
  .vscode/tasks.json
  CHANGELOG.md
  CONTRIBUTORS.md
  README.md
  changelog/towncrier_template.md.jinja
  docs/contributors.md
  docs/index.md
  docs/pyproject.toml
  lock.json
  pyproject.toml
  requirements/build.txt
  requirements/dev.in
  requirements/install.txt
  requirements/override.txt
  requirements/requirements.txt
  requirements/uv.in
  scripts/Common.ps1
  scripts/Initialize-LinuxMacOS.sh
  scripts/Initialize-Machine.ps1
  scripts/Initialize-Repo.ps1
  scripts/Initialize-Windows.ps1
  scripts/Sync-Py.ps1
  scripts/Sync-Template.ps1
  scripts/boilerdata_tools/__main__.py
  scripts/boilerdata_tools/add_changes.py
  scripts/boilerdata_tools/sync.py
  scripts/boilerdata_tools/types.py
  scripts/install.py
  scripts/pyproject.toml
  tests/pyproject.toml
Due: pytest-fast-only, fawltydeps

Bump boilercore
  lock.json
  requirements/requirements.txt
Due: none

Sync with template
  .copier-answers.yml
  pyproject.toml
Due: fawltydeps

Limit CI to Python 3.11+
  .github/workflows/ci.yml
  .github/workflows/high.yml
  pyproject.toml
Due: fawltydeps

Roll back `uv` and `copier`
  lock.json
  requirements/requirements.txt
  requirements/uv.in
  scripts/pyproject.toml
Due: none

Resolve Ruff issues
  scripts/boilerdata_tools/add_changes.py
  src/boilerdata/axes_enum.py
Due: fawltydeps

Suppress MacOS tests for now
  .github/workflows/ci.yml
  .github/workflows/contrib.yml
  .github/workflows/high.yml
Due: none

Recopy template
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/contrib.yml
  .github/workflows/high.yml
Due: none

Handle model functions for all supported Python versions
  data/.gitignore
  data/models/.gitignore
  data/models/modelfun-3.11.dillpickle.dvc
  data/models/modelfun-3.12.dillpickle.dvc
  dvc.yaml
  lock.json
  params.yaml
  requirements/requirements.txt
  src/boilerdata/models/paths.py
  src/boilerdata/stages/__init__.py
  tests/root/data/model.dillpickle
  tests/root/data/models/modelfun-3.11.dillpickle
  tests/root/data/models/modelfun-3.12.dillpickle
Due: synchronize-params, pytest-fast-only, fawltydeps

Add changelog entry
  changelog/+d15bae.change.md
Due: none

Sync with template
  .all-contributorsrc
  .copier-answers.yml
  .devcontainer/devcontainer.json
  .github/workflows/release.yml
  docs/index.md
Due: none

Bump version
  .copier-answers.yml
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/issue_template.md
  pyproject.toml
Due: fawltydeps

Update changelog
  CHANGELOG.md
  changelog/+d15bae.change.md
Due: none

Sync with template
  .all-contributorsrc
  .copier-answers.yml
  .vscode/settings.json
  .vscode/tasks.json
  CONTRIBUTORS.md
  README.md
  docs/conf.py
  scripts/Initialize-Windows.ps1
Due: none

Add commit type back to contributors config
  .all-contributorsrc
Due: none

2024.1.2
  .copier-answers.yml
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/issue_template.md
  .vscode/tasks.json
  CHANGELOG.md
  README.md
  pyproject.toml
  requirements/dev.in
  requirements/override.txt
  scripts/boilerdata_tools/sync.py
  tests/pyproject.toml
Due: pytest-fast-only, fawltydeps

Shorten sync params task name
  .vscode/tasks.json
Due: none

Sync with template and resolve type issues
  .copier-answers.yml
  .vscode/launch.json
  .vscode/tasks.json
  lock.json
  pyproject.toml
  requirements/dev.in
  requirements/requirements.txt
  requirements/uv.txt
  scripts/Sync-Py.ps1
  scripts/boilerdata_tools/__main__.py
  scripts/boilerdata_tools/sync.py
  scripts/pyproject.toml
  src/boilerdata/stages/originlab.py
  src/boilerdata/stages/pipeline.py
Due: fawltydeps

Bump uv
  lock.json
  requirements/requirements.txt
  requirements/uv.txt
Due: none
